@import "variables";

.browse {
    .main-title {
        direction: rtl;
        text-align: center;
        margin: 40px auto;
    }
    .card {
        direction: rtl;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);

        .title {
            text-align: right;
        }
        .body {
            direction: rtl;
            text-align: justify;
            line-height: 24px;
        }
        .link {
            display: block;
            text-align: left;
            padding: 5px 20px;
            cursor: pointer;
        }
        img {
            width: 100% !important;
            height: 180px !important;
            object-fit: contain;
            object-position: center;
        }
    }
}
