@font-face {
  font-family: "StoreFont";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/IRANYekanFN/IRANYekanThinFaNum.ttf");
  src: url("/fonts/IRANYekanFN/IRANYekanThinFaNum.ttf") format("truetype");
}

@font-face {
  font-family: "StoreFont";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/IRANYekanFN/IRANYekanLightFaNum.ttf");
  src: url("/fonts/IRANYekanFN/IRANYekanLightFaNum.ttf") format("truetype");
}

@font-face {
  font-family: "StoreFont";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IRANYekanFN/IRANYekanRegularFaNum.ttf");
  src: url("/fonts/IRANYekanFN/IRANYekanRegularFaNum.ttf") format("truetype");
}

@font-face {
  font-family: "StoreFont";
  font-style: normal;
  font-weight: medium;
  src: url("/fonts/IRANYekanFN/IRANYekanMediumFaNum.ttf");
  src: url("/fonts/IRANYekanFN/IRANYekanMediumFaNum.ttf") format("truetype");
}

@font-face {
  font-family: "StoreFont";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/IRANYekanFN/IRANYekanBoldFaNum.ttf");
  src: url("/fonts/IRANYekanFN/IRANYekanBoldFaNum.ttf") format("truetype");
}

@font-face {
  font-family: "StoreFont";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/IRANYekanFN/IRANYekanExtraBoldFaNum.ttf");
  src: url("/fonts/IRANYekanFN/IRANYekanExtraBoldFaNum.ttf") format("truetype");
}

@font-face {
  font-family: "StoreFont";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/IRANYekanFN/IRANYekanBlackFaNum.ttf");
  src: url("/fonts/IRANYekanFN/IRANYekanBlackFaNum.ttf") format("truetype");
}
